doctype html
html
    head
        meta(charset="utf-8")
        title <%= name %>
        link(rel="stylesheet", href="static/stylesheets/<%= name %>.css")
            
    body
        
        script(src="static/javascripts/<%= name %>.js")
